.container {
    display: flex;
    justify-content: center;    /* centre horizontalement */
    flex-direction: column;        /* en colonne */
    max-height: 1955;              /* occupe la hauteur de la fenêtre */
    max-width: 1444px;  /* largeur max desktop */
    margin: 0 auto;
    background-color: hsl(330, 100%, 96%);
       
  
}
.contenue {
    max-width: 600px;
    margin: 120px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 40px;
       
}

.contenue img{
    width: 100%;
    border-radius: 10px;
}

.contenue header h1 {
    color: hsl(24, 5%, 18%);
    font-size: 36px;
    font-weight: 400 ;
    font-family: "Young Serif";
}
.contenue header p{
    color: hsl(24, 5%, 18%);
    font-size: 15px;
    font-weight: 400 ;
    font-family: "Outfit";
    margin-bottom: 30px;
}

.preparation {
    width: 97%;
    border-radius: 10px;
    background-color: hsl(330, 100%, 98%);
    padding: 10px;
    margin-bottom: 10px;
    
}
.preparation div{
    color: hsl(332, 51%, 32%);
    padding: 15px 0 0 10px;
    font-size: 20px;
    font-family:"Outfit";
    font-weight: 600;
    
}
.preparation ul {
    margin-top: 7px;
}

.preparation ul li, .ingredients ul li, .instruction  ol li{
    font-size: 15px;
    font-family:"Outfit";
    font-weight: 400;
    color: hsl(24, 5%, 18%);
    margin: 10px 0;
    padding-left: 10px;
}
.preparation ul li span , .instruction  ol li span{
    font-weight: 700;
}

.ingredients h2, .instruction h2, .nutrition h2{
    color: hsl(14, 45%, 36%);
    font-size: 27px;
    font-family:"Young Serif";
    font-weight: 500;
}
.ingredients ul {
    padding-left: 15px;
}
.instruction  ol {
    padding-left: 15px;
}

.instruction ol li::marker {
  color: hsl(14, 45%, 36%); /* couleur uniquement du numéro */
  font-weight: bold; /* optionnel */
}
.separator {
  height: 1px;         /* épaisseur de la ligne */
  background-color: hsl(30, 18%, 87%); /* couleur de la ligne */
  margin: 10px 0;      /* espace au-dessus et en dessous */
}

.nutrition p{
    font-size: 15px;
    font-family:"Outfit";
    font-weight: 400;
    color: hsl(24, 5%, 18%);
}
.nutrition table{
    width: 90%;
    border-collapse: collapse;
    margin-left: 15px;
}

.nutrition td , .attribution{
    padding: 15px;
    font-size: 15px;
    font-family:"Outfit";
    font-weight: 400;
    color: hsl(24, 5%, 18%);
    

}
.nutrition td span {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
.nutrition tr:not(:last-child) {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  
}
.attribution {

    text-align:center;

}